<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard" href="/hrga/dashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pesanan" href="/hrga/pesanan">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Input Pesanan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="validasi" href="/hrga/validasi">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>Validasi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="laporan" href="/hrga/laporan">
        <ion-icon name="analytics-outline"></ion-icon>
        <ion-label>Laporan</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>